.productCRM{
    display:flex;
    background-color: #2fc7f7;
    justify-content: space-around;
    

}
.leftCRM{
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    font-size:24px;
    padding:90px;
}

.leftCRM div:nth-child(1){
    font-size:16px;
    font-weight: 800;
    margin-bottom: 40px;
    display:flex;
    align-items: center;
    border:1px solid white;
    padding:10px 20px;
    width:fit-content;
    border-radius:15px;
}
.leftCRM div:nth-child(1) span:nth-child(1){
    margin-right:10px;
}

.leftCRM h1{
    margin-bottom:40px;
    

}
.leftCRM p{
 font-size:20px;
 margin-bottom:40px;
}
.rightCRM{
    display:flex;
    align-items:center;
    padding:90px

}
.crmButton{
    margin-top:20px;
    padding:12px 24px;
    font-size:16px;
    font-weight:bold;
    color:black;
    background-color:#bdf300;
    border:none;
    border-radius:6px;
    cursor:pointer;
    max-width:170px;
}