

.learnmoreBtn{
    background-color:#007bff;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    margin-right:400px
}

.textSectionUDC{
display:flex;
justify-content: space-around;

}

.textSectionUDC p{
    margin-right:200px;
    margin-left:110px;
    margin-top:50px
}

.textSectionUDC h1{
 margin-top:50px;
 margin-right:300px;
 font-weight: bold;
 font-size:50px;
 
}
.threeSectionLanding{
    
}

.sectionBoxLeft{


}

.sectionBoxLeft h1 {
transform: rotate(-90deg);
transform-origin: top left

}