.custom-carousel{
    height:100px;
}
.carousel-image{
    height:10px;
}

.learnmoreBtn{
    background-color:#007bff;
    color:white;
    padding:30px 20px;
    border:none;
    border-radius:70px;
}