/* === Final Permanent Navbar Styles === */
.custom-navbar {
  background-color: #3c3c3c !important;
}

.custom-navbar .navbar-brand {
  color: #ffffff!important;
  font-weight:600;
  text-align: center;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link.active {
  color: linear-gradient(90deg, #0048ff, #00c6ff) !important;
  border-bottom: 2px linear-gradient(90deg, #0048ff, #00c6ff)
}

.custom-navbar .nav-link:hover {
  color: linear-gradient(90deg, #0048ff, #00c6ff)!important;
}

/* Buttons */
.btn-outline-primary {
  color: linear-gradient(90deg, #0048ff, #00c6ff) !important;
  border-color: linear-gradient(90deg, #0048ff, #00c6ff) !important;
}

.btn-outline-primary:hover {
  background-color: linear-gradient(90deg, #0048ff, #00c6ff) !important;
  color: #0d1b2a !important;
}

.btn-primary {
  background-color: linear-gradient(90deg, #0048ff, #00c6ff)!important;
  border-color: linear-gradient(90deg, #0048ff, #00c6ff)!important;
}

.btn-primary:hover {
  background-color: linear-gradient(90deg, #0048ff, #00c6ff)!important;
  border-color: linear-gradient(90deg, #0048ff, #00c6ff) !important;
}



/* Responsive CSS (Media Query) */

@media(max-width:768px){
  

  .custom-size{
   font-size:10px;
  }

.size{
  width:100px;
  
}
}


@media(max-width:550px){

.custom-size{
  font-size: 100px;
}
  
.size{
  height:100px;
  
}
}


.navbar .dropdown-menu {
  background: #ffffff;
  border-radius: 0;
  padding: 10px 0;
}

.navbar .dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.navbar .dropdown-item:hover {
  background: #f5f5f5;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 0;
  padding: 0;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
}
